<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container footer-content">
    Made with <i class ="fa fa-heart"></i> by Tabitha Frahm<br>
    Let's connect:
    <a href="https://linkedin.com/in/tabithafrahm">
      <i class="fa fa-linkedin fa-lg"></i>
    </a>
    <a href="https://facebook.com/tabitha.frahm">
      <i class="fa fa-facebook fa-lg"></i>
    </a>
    <a href="https://twitter.com/tabithafrahm">
      <i class="fa fa-twitter fa-lg"></i>
    </a>
    <a href="https://instagram.com/tabacadabra">
      <i class="fa fa-instagram fa-lg"></i>
    </a>
    <a href="https://github.com/tfrahm">
      <i class="fa fa-github-alt fa-la"></i>
    </a>
    <a href="http://pinterest.com/tlfrahm">
      <i class="fa fa-pinterest fa-lg"></i>
    </a>
    <a href="mailto:tabitha.frahm@gmail.com">
      <i class="fa fa-envelope fa-lg"></i>
    </a>
  </div>
</nav>
